SPOTIFY_CLIENT_ID=YOUR_SPOTIFY_CLIENT_ID_HERE

SPOTIFY_CLIENT_SECRET=YOUR_SPOTIFY_CLIENT_SECRET_HERE

SPOTIFY_REDIRECT_URI=YOUR_REDIRECT_URI_HERE

SPOTIFY_API_BASE_URL=https://api.spotify.com/v1

SPOTIFY_AUTH_URL=https://accounts.spotify.com/api/token
